


body {
  
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #F9FAFB;


}
.topo {
  background: #1E2A44;
  color: white;
  padding: 20px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.span {
  margin-left: auto;
  color: #d4e2db;
  font-size: larger;
}

.img {
  width: 150px;
  border-radius: 8px;

  position: absolute;
  left: 50%;
    transform: translateX(-50%);

}



.container {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.form-loja {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.grupo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.grupo label {
  margin-bottom: 5px;
  font-weight: bold;
}

.grupo input,
.grupo textarea,
.grupo select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.botoes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.btn-salvar {
  background: #22C55E;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
}

.btn-cancelar {
 background: #DC2626;

  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  flex: 1;
}
.btn-salvar:hover {
  background: #16a34a;
}

.btn-cancelar:hover {
  background: #b91c1c;
}